html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}
.set-bg {
  background-color: #E1EBFA;
}
.remove-bg {
  background-color: transparent;
}
.nav-link{
  text-decoration: none;
  padding: 5px 10px;
}
.nav-link:active{
  color: #678C92 ;
}

