html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}
.set-bg {
  /* background-color: #E1EBFA; */
  background-color: white;
}
.remove-bg {
  background-color: transparent;
}
