html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}
.set-bg {
  background-color: #E1EBFA;
}
.remove-bg {
  background-color: transparent;
}
.nav-link{
  text-decoration: none;
  padding: 5px 10px;
}
.nav-link:active{
  color: #678C92 ;
}
a.nav-link{
  color: #678C92;
}
.see-more-hover{
  transition: all 0.2s ease-in;
}
.see-more:hover .see-more-hover{
  transform: translate(10px);
}
.custom-image{
  max-width: 300px;
  width: 100%;
}
.custom-image2{
  max-width: 200px;
  width: 100%;
  position: absolute;
  bottom: -10%;
  right: 10%;
}
.nav-link:hover{
  background: rgba(105, 98, 98, 0.128);
}